In [ ]:
Q1. Create one variable containing following type of data: 
(i) string 
(ii) list 
(iii) float 
(iv) tuple 


A1.
(i) string
    s=’luta’
(ii) list
   l=(2222,32.23,’luta’,’TRUE’)
(iii)float
   f=32.322
(iv)tuple
   t=(‘dfsa’,’1313’,’12.12’)
    
    
    
Q2. Given are some following variables containing data: 
(i) var1 = ‘ ‘ 
(ii) var2 = ‘[ DS , ML , Python]’ 
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
(iv) var4 = 1. 

A2.
(i) var1 = ‘ ‘ 
String

(ii) var2 = ‘[ DS , ML , Python]’ 
LIST

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
Tuple

(iv) var4 = 1.
Integer
What will be the data type of the above given variable. 



Q3. Explain the use of the following operators using an example: 
(i) / 
(ii) %  
(iii) // 
(iv) ** 


A3.
(i) ‘/’ , this is a division operator which is used to divide the number. For example = 4/2=2 

(ii) ‘%’ this is a modulus operator which is used to give a remainder as a result while dividing any two numbers. For example= 5%4 = 1 . Here 1 which is a result is a remainder while dividing 1 with 4.

(iii) ‘//’ this is a Floor division operator which is used to round down  the resulting answer to the nearest whole number.
For example = 15//2 = 7. Here 15 is divided by 2 and the answer is 7.5 but this operator helps to round down  the 7.5 answer to 7.

(iv)’**’ This operator is an exponentiation operator which is used as a power to any number. For example = 3**2 = 9.
Here 3 is multiplied by itself by two times.



Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type. 

A4.  x=(2,'akb',22.23,True,False,3,82.22,'joyboy','luffy','zunisha')
for i in x:
    print(type(i))
    print(i);

    
    
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many  times it can be divisible. 

A5.
a=6
b=3
while a/b:
    print(b);
    
    
    
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not. 

A6.
a=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
for b in a:
    if (b%3==0):
        print('divisible by 3')
    else:
        print('not divisible by 3');

        
        
Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property. 


A7.Mutable objects are those that allow you to change their value or data in place without affecting the object’s identity and immutable objects don’t allow this kind of operation.
Mutable examples are List, Set and Dictionary
Immutable examples are Tuple, Number and Strings.